<template>
  <section class="section">
    <h1 class="title has-text-centered">Quizpoker</h1>
    <div class="columns is-mobile">
      <card
        title="Join"
        icon="waveform"
      >
        <template v-slot:main>
          <section>
            <b-field label="Game Code" :type="codeType" :message="codeMessage">
              <b-input
                v-model="gameCode"
                type="text"
                required
                validation-message="Game code received from your host"
                pattern="[a-z0-9]*"
                @input="resetCodeError()"
              ></b-input>
            </b-field>
            <b-field label="Your Name">
              <b-input
                v-model="yourName"
                type="text"
                required
                validation-message="Pick a name to recognize you :)"
              ></b-input>
            </b-field>
            <b-button
              :disabled="!canJoin"
              :loading="tryingToJoin"
              type="is-primary"
              @click="tryToJoin()"
            >Join</b-button>
          </section>
        </template>
      </card>

      <card
        title="Host"
        icon="server-network"
      >
        <template v-slot:main>
          <section>
            <div class="block">Create a <b class="text-is-grey">new</b> game lobby and set your own rules!</div>
            <b-button expanded type="is-primary">Let's go!</b-button>
          </section>
        </template>
      </card>
    </div>
  </section>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'HomePage',
  components: {
    Card
  },
  data() {
    return {
      gameCode: '',
      yourName: '',
      joinRequestSent: false,
      joinResponseReceived: false,
      joinResponseSuccess: false,
      codeType: '',
      codeMessage: '',
    }
  },
  computed: {
    canJoin() {
      return !!this.gameCode && !!this.yourName
    },
    tryingToJoin() {
      return this.joinRequestSent && !this.joinResponseReceived
    },
  },
  methods: {
    tryToJoin() {
      this.joinRequestSent = true
      window.setTimeout(() => {
        this.joinResponseReceived = true
        this.joinResponseSuccess = false
        this.codeType = 'is-danger'
        this.codeMessage = 'This game code is invalid.'
      }, 1500)
    },
    resetCodeError() {
      this.codeType = ''
      this.codeMessage = ''
    }
  }
}
</script>
